body {
  margin: 0px;
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#LayersContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  width: 50vw;
}

#layer {
  padding: 5px;
}

#FunctionsContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    width: 50vw;
  }
  
  #function {
    padding: 5px;
  }

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #eee;
  color: #444;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: none;
  color: black;
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#navbar > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px 15px 0px 15px;
  margin: 10;
  width: 100%;
}


.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}